.header {
    .backgrountTop {
        background-color: #474747;

        .contacts {
            max-width: 1293px;
            margin: 0 auto;
            color: #F9F9F7;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 10px;
            padding-bottom: 10px;

            .container {
                display: flex;
                gap: 25px;

                .info {
                    display: flex;
                    gap: 8px;
                }
            }

            .networks {
                display: flex;
                gap: 4px;

                a {
                    display: block;
                    width: 27.17px;
                    height: 27.17px;

                    &:first-child {
                        background-image: url(./img/twitter.svg);
                    }

                    &:nth-child(2) {
                        background-image: url(./img/facebook.svg);

                    }

                    &:nth-child(3) {
                        background-image: url(./img/instargram.svg);
                    }

                    &:nth-child(4) {
                        background-image: url(./img/github.svg);
                    }
                }

            }
        }
    }

    .backgroundBottom {
        background-color: white;

        .navigation {
            max-width: 1293px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 29px;
            padding-bottom: 20px;

            .logo {
                display: flex;
                gap: 14px;
                align-items: center;

                p {
                    font-family: "Playfair Display", serif;
                    font-weight: 600;
                    font-style: italic;
                    font-size: 42.67px;
                    color: #474747;
                }
            }

            .actions {
                display: flex;
                gap: 8px;

                a {
                    font-weight: 500;
                    line-height: 24px;
                    padding: 4px 16px;
                    border-radius: 34px;
                    color: #2C2F24;

                    &:hover {
                        background-color: #DBDFD0;
                    }
                }
            }

            .bookingBtn {
                border: 1.5px solid #2C2F24;
                border-radius: 118px;
                font-weight: 700;
                padding: 12px 24px;
                color: #182226;
            }
        }
    }
}