.text {
    color: #414536;
    line-height: 24px;
}

.title {
    font-family: Playfair Display;
    font-weight: 500;
    font-size: 55px;
    line-height: 60.5px;
    color: #2C2F24;

    @media screen and (max-width: 412px) {
        font-size: 40px;

    }
}

.informationAboutUs {
    display: flex;
    flex-direction: column;
    gap: 120px;

    @media screen and (max-width: 1160px) {
        gap: 0;
    }

    .infoHealthy {
        background-color: #F9F9F7;
        padding: 85px 0 120px 0;

        @media screen and (max-width: 1340px) {
            padding-left: 40px;
            padding-right: 40px;
        }

        @media screen and (max-width: 630px) {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .wrapper {
            max-width: 1296px;
            display: flex;
            gap: 140px;
            margin: 0 auto;

            @media screen and (max-width: 1160px) {
                flex-direction: column;
                gap: 20px;
                align-items: center;
            }

            .imgBlock {
                max-width: 649px;
                width: 100%;

                img {
                    max-width: 649px;
                    width: 100%;
                    object-fit: contain;
                    height: auto;
                }
            }

            .textBlock {
                display: flex;
                flex-direction: column;
                gap: 24px;
                align-self: center;

                .boldestText {
                    color: #2C2F24;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 28px;
                }
            }
        }
    }

    .infoGuest {
        display: flex;
        gap: 131px;
        padding: 120px 0 120px 0;
        max-width: 1296px;
        margin: 0 auto;

        @media screen and (max-width: 1340px) {
            padding-left: 40px;
            padding-right: 40px;
        }

        @media screen and (max-width: 1160px) {
            flex-direction: column;
            gap: 35px;
            align-items: center;
        }

        @media screen and (max-width: 630px) {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .statisticWrapper {
            display: flex;
            flex-direction: column;
            gap: 60px;

            @media screen and (max-width: 1160px) {
                align-items: center;
            }

            .statisticDescroption {
                display: flex;
                flex-direction: column;
                gap: 15px;
            }

            .statistic {
                display: flex;
                gap: 24px;
                flex-wrap: wrap;
                max-width: 610px;
                justify-content: center;

                .statisticBlock {
                    border: 1px solid #DBDFD0;
                    border-radius: 8px;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    justify-content: center;
                    align-items: center;
                    max-width: 293px;
                    width: 100%;
                    height: 174px;

                    .counter {
                        font-family: Playfair Display;
                        font-weight: 500;
                        font-size: 55px;
                        line-height: 60.5px;
                        letter-spacing: 0px;
                        color: #2C2F24;
                    }

                    .nameOfCounter {
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 28px;
                        letter-spacing: 0px;
                        color: #414536;
                    }
                }
            }
        }

        img {
            width: 100%;
            max-width: 555px;
            object-fit: contain;
            height: auto;
        }
    }
}