.ourMenu {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    max-width: 1296px;
    padding-top: 77px;
    padding-bottom: 147px;
    margin: 0 auto;

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 33px;

        .aboutMenu {
            display: flex;
            flex-direction: column;
            gap: 20px;
            max-width: 557px;


            h2 {
                font-family: Playfair Display;
                font-weight: 400;
                font-size: 100px;
                line-height: 96px;
                color: #2C2F24;
                text-align: center;
            }

            p {
                font-size: 18px;
                line-height: 28px;
                text-align: center;
                color: #495460;
            }
        }

        .btnCategory {
            display: flex;
            gap: 16px;

            .btn {
                display: flex;
                gap: 8px;
                border: 1px solid #403F3D;
                border-radius: 100px;
                padding: 8px 16px 8px 8px;
                align-items: center;

                &:hover {
                    background-color: #403F3D;

                    .imgBtn {
                        background-color: #FFFFFF;
                    }

                    p {
                        color: #FFFFFF;
                    }
                }

                .imgBtn {
                    background-color: #403F3D;
                    border-radius: 100px;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;


                }

                p {
                    font-weight: 600;
                    line-height: 150%;
                    color: #403F3D;


                }
            }
        }
    }

    .menu {
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .menuItems {
            display: flex;
            flex-direction: column;
            gap: 30px;
            max-width: 306px;
            border: 1.5px solid #DBDFD0;
            border-radius: 12px;

            .wrapperText {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;
                padding: 0 30px 34px 30px;

                .price {
                    color: #AD343E;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 30px;
                }

                h4 {
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 26px;
                    color: #2C2F24;
                }
                .description {
                    color: #414536;
                    text-align: center;
                }
            }
        }
    }
}