.footer {
    background-color: #474747;
    padding: 120px 0 100 0;

    @media screen and (max-width: 1340px) {
        padding: 40px 40px 40px 40px;
    }

    .wrapper {
        max-width: 1296px;
        display: flex;
        justify-content: space-between;
        color: #DBDFD0;
        margin: 0 auto;

        @media screen and (max-width: 1100px) {
            flex-direction: column;
            gap: 30px;
            align-items: center;
        }

        .logo {
            display: flex;
            flex-direction: column;
            gap: 30px;
            max-width: 293px;

            p {
                color: #ADB29E;
            }
        }

        .navigationFooter {
            display: flex;
            justify-content: space-between;
            max-width: 330px;
            gap: 50px;

            .pages {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 40px;

                h4 {
                    font-weight: 700;
                    line-height: 24px;
                }

                .navPages {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    align-items: start;
                }
            }
        }

        .followOnInstagram {
            display: flex;
            flex-direction: column;
            gap: 40px;
            max-width: 403px;

            @media screen and (max-width: 1100px) {
                padding-top: 25px;
                gap: 15px;
            }

            @media screen and (max-width: 485px) {
                flex-direction: row;
            }

            h4 {
                font-weight: 700;
                line-height: 24px;
                color: #fff;
            }

            .imgOnInstagram {
                display: flex;
                gap: 15px;
                flex-wrap: wrap;

                @media screen and (max-width: 485px) {
                    display: none;
                }

                .img {
                    border-radius: 12px;
                }
            }

            .iconInstagram {
                display: none;

                @media screen and (max-width: 485px) {
                    background-image: url(../../public/instargram.svg);
                    display: block;
                    width: 30px;
                    height: 30px;
                    background-size: cover;

                }
            }
        }
    }
}